.maincontent {
	min-height: 508px;
}

.equipe_foto {
	margin: 0;
	padding: 0 30px 30px 0;
	width: 100%;
	height: 354px;
	position: relative;
	display: block;
	text-align: center;
}

.equipe_texto {
	margin: 0 auto;
	text-align: center;
}

.equipe_texto p {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}